<h1>Edit Default Options</h1>
<% @options.each do |key, value| %>
  <% key = key.capitalize %>
  <% if key.to_s.include?("_") %>
    <b><%= key.to_s.gsub!(/_/, ' ') %>:</b>
  <% else %>
    <b><%= key %>:</b>
  <% end %>
  <%= value %>
  <br />
<% end %>
