<h1>Editing PO</h1>
<small>PO number</small>
<br />
<%= render 'form', po: @po %>
<hr />
<%= link_to 'Show', @po, class: 'btn btn-secondary' %> 
<%= link_to 'Back', pos_path, class: 'btn btn-warning' %>
