@import "bootstrap";

body {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.po-index {
    tr {
        border-bottom: 1px solid black;
    }
}

tr {
    padding: 1em;
}

td, th {
    padding: .5em;
}

.flatpickr {
    background-color: white !important;
}

#set-installment {
    width: 100%;
}

.top-bottom-spacing {
    padding-top: 2em !important; 
    padding-bottom: 2em !important;
}

.no-show {
    display: none !important;
    visibility: hidden !important;
}

.btn {
    text-transform: uppercase;
    padding: 1em;
    margin: .5em;
}

.w-full {
    width: 100%;
}

.highlight {
    background-color: yellow;
    background: yellow;
    padding: 2px;
    border-bottom: 1px solid black;
}

.center {
    text-align: center;
}

.width-half {
    width: 50% !important;
    height: 2em;
}

.default-link {
    color: navy !important;
    border-bottom: 1px solid grey !important;
    text-decoration: none !important;
    padding: .25rem;
}

.spaced-out td {
    padding: 1em;
}

#participant_country_code {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upcase {
    text-transform: uppercase;
}

.total-box {
    padding: 1em;
    border-top: 2px solid green;
}

.green {
    color: green;
    border-bottom: 2px solid green;
}

.extra-padding {
    padding: 1em;
}