@import "trix";
@import "bootstrap";
@import 'easy-autocomplete/dist/easy-autocomplete';

.trix-button--icon-code,
.trix-button-group--file-tools,
.trix-button--icon-heading-1,
.trix-button--icon-quote, 
.trix-button--icon-strike {
  display: none !important;
}

body {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 1.5;
}

.po-index {
    th {
        text-transform: uppercase;
    }

    tr {
        border-bottom: 1px solid black;
    }
}

tr {
    padding: 1em;
}

td,
th {
    padding: .5em;
}

.flatpickr {
    background-color: white !important;
}

#set-installment {
    width: 100%;
}

.top-bottom-spacing {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.no-show {
    display: none !important;
    visibility: hidden !important;
}

.btn {
    text-transform: uppercase;
    padding: 1em;
    margin: .5em;
}

.w-full {
    width: 100%;
}

.highlight {
    background-color: yellow;
    background: yellow;
    padding: 2px;
    border-bottom: 1px solid black;
}

.center {
    text-align: center;
}

.width-half {
    width: 50% !important;
    height: 2em;
}

.default-link {
    color: navy !important;
    border-bottom: 1px solid grey;
    text-decoration: none !important;
    padding: .25rem;
    margin: .2em;

    &:hover,
    &:focus {
        border-bottom: 3px solid grey !important;
        font-weight: 500;
    }
}

.scroll-btn {
    cursor: pointer;
    margin-left: 1em;

    &:hover,
    &:focus {
        background-color: green;
        border-radius: 25%;
        border: 2px solid white;
    }
}

nav,
.navbar-light,
.bg-light {
    background-color: transparent !important;
    background: transparent !important;
}

.spaced-out td {
    padding: 1em;
}

.upcase {
    text-transform: uppercase;
}

#participant_country_code {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upcase {
    text-transform: uppercase;
}

.total-box {
    padding: 1em;
    border-top: 2px solid green;
}

.tax {
    font-weight: 700;
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.3em;
}

.green {
    color: green;
    border-bottom: 2px solid green;
    padding-bottom: .6em;
}

.extra-padding {
    padding: 1em;
}

.btn-sm {
    border-radius: 50%;
}

.saved-item {
    cursor: pointer;
    display: block;
    border: 2px solid white;
    border-radius: 2em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: calc(50% - 50px) !important;
    text-align: center;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &:hover,
    &:focus {
        color: white;
        border: 2px solid gray;
        font-weight: 600;
    }
}

.invoice-image h1,
.invoice-image img {
    display: inline;
    text-transform: uppercase;
}

.invoice-image img {
    margin-right: 2em;
}

@media print {
    .Print {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

.discount-applied {
    padding: 2px;
    margin-bottom: 2px;
    color: green;
    border: 1px solid green;
    width: 170px;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
}

.td-border {
    border-bottom: 1px solid black;
    padding: 1em;
}

.bold {
    font-weight: 700;
}

/* Ethics Modal */
#ethicsClose {
    margin-top: 5%;
    text-align: right;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    display: block;
    width: 100%;
}

.closeDesign {
    padding: 4px;
    border: none !important;
    border: 0 !important;
    background: transparent !important;
}

h1 {
    text-align: center;
    margin-bottom: .5em;
}

.center {
    text-align: center;
}

.default {
    color: white !important;
}

.default-link h1 {
    color: white !important;
}

.default-link p,
.default-link div {
    margin-bottom: .5em;
}

.ethicsLink {
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
    cursor: pointer;
    padding: .3em;
    border-radius: 25px;
    border: 2px solid gray;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.ethicsLink:hover,
.ethicsLink:focus {
    background-color: #a5a2a2;
    color: white;
}

.overlay {
    height: auto;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 3 !important;
    padding: 2em;
    color: white !important;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow-y: auto;
    transition: visibility 0s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.overlay .left {
    text-align: left !important;
    line-height: 1.3;
}

.overlay {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.overlay::-webkit-scrollbar {
    display: none !important;
}

.overlay-content h1 {
    font-size: 2rem;
}

.overlay-content {
    position: relative;
    width: 100%;
    height: auto;
    color: white !important;
    z-index: 3 !important;
    margin-top: 10px;
    padding: .5em .5em .2em .5em;
    font-size: 1rem;
    letter-spacing: 2px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #949191;
}

.overlay .closebtn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-decoration: none !important;
    font-weight: bold;
    color: black;
    border-radius: 50%;
}

.overlay .search {
    position: fixed;
    margin-bottom: 1em !important;
    width: 40% !important;

}

/* Modal customizations for different screen sizes */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 30px;
        top: 15px;
        right: 10px;
        font-weight: bold;
    }
}

.form-holder {
    padding: 1em;
    // background: rgba(255, 255, 255, 0.548);
    color: white;
}

.easy-autocomplete-container {
    color: black !important;
    background-color: white !important;
    z-index: 100;
}

.removal {
    color: red;
    font-weight: 600;
}

.contact-button {
    cursor: pointer;
    margin: 5px;
    margin-top: 1em;
    padding: .75em;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;

    &:hover,
    &:focus {
        background-color: green;
    }
}

.side-by-side {
    display: inline-block;
    padding-left: 1em;
}

.bigger-side {
    width: 89%;
    vertical-align: top;
}

.smaller-side {
    width: 10%;
    vertical-align: top;

    div {
        padding: .5rem;
    }
}

.align-right {
    text-align: center !important;
    float: right;
    width: 2em;
    height: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.rounded {
    border-radius: 15%;
    padding: .2em;
}

.contacts {
    color: white !important;

    &:hover,
    &:focus {
        color: white !important;
    }
}

.contact-button {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

#chartContainer {
    width: 100%;
    height: auto;
}